@keyframes change
{
	0%
	{
		color:#9A2617;
	}
	10%
	{
color:#CD594A;
	}
	20%
	{
color:#C2571A;
	}
	30%
	{
color:#F58B4C;
	}
	40%
	{
color:#107896;
	}
	50%
	{
color:#43ABC9;
	}
	60%
	{
color:#0C374D;
	}
	70%
	{
color:#3C6478;
	}
	80%
	{
color:#BCA136;
	}
	90%
	{
color:#EFD469;
	}
	100%
	{
color:#F58B4C;
	}
	
}



body
{
	
	background-repeat: no-repeat;
	display: block;
    max-width: 100%;
    background: url('back.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1
{
	font-size: 60;
	animation:change 5s infinite;
	
}

@keyframes flip {
	0%
	{
		
		
	}
	10%
	{
		
		transform: rotateX(36deg);
	}
20%
	{
		
		transform: rotateX(72deg);
	}
30%
	{
	
		transform: rotateX(108deg);
	}
40%
	{
		
		transform: rotateX(144deg);
		
	}
	50%
	{
		
		transform: rotateX(180deg);
	}
	60%
	{
		
		transform: rotateX(216deg);
	}
	70%
	{
		
		transform: rotateX(252deg);
	}
	80%
	{
		
		transform: rotateX(288deg);
	}
	90%
	{
		
		transform: rotateX(324deg);
	}
	100%
	{
		
		transform: rotateX(360deg);
	}



}

