body
{
	background-color: black;
}
#a {
border : 3px solid grey;
padding:40;
background-color: black;

}
.padding-0
{
    padding-right:0;
    padding-left:0;
    padding-top:0;
    padding-bottom:0;
}
#namespace
{
	position: absolute;
	top:3%;
	left:89%;
	font-size: 20;
	font-family: 'Bree Serif', serif;
	
}