<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway:200,400,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  <link rel='stylesheet prefetch' href='/css/demo.css'>

      <link rel="stylesheet" href="/css/style2.css">

  <link rel="stylesheet" href="/css/bootstrap.css">
  <style type="text/css">
 th {
    text-align: center;
    padding: 0px 25px;
}

  </style>
</head>

<body>

  <div id="large-header" class="large-header">

  <canvas id="demo-canvas"></canvas>
    <h1 class="main-title">
      <script type="text/javascript">i=1;</script>
    <table>
      <tr>
        <th>Rank</th>

        <th>Name</th>
        <th>Score</th>
      </tr>
      {% for post in all_posts %}
    <tr>
      <td><script>document.write((i++)+". ")</script></td>
      <td>{{ post.name }}</td>
      <td>{{ post.score }}</td>
    </tr>
     {% endfor %}
     <tr><td><br></td></tr>
     <tr>
      <td></td>
      <td><form method="post" action="/">
  <button type="submit" name="submit" class="btn btn-success" >Back To Home</button>
</form>
</td>
     </tr>
    </table> 
    <br>
  </h1>
    
    
</div>
  <script src='/js/EasePack.min.js'></script>
<script src='/js/rAF.js'></script>
<script src='/js/TweenLite.min.js'></script>

    <script src="/js/index2.js"></script>

</body>
</html>
