<html>
<head>
<title>{{ title }}</title>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="/css/alphadose.css" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Limelight" rel="stylesheet">
<style>

</style>
<body>
<div class="container-fluid">
  <marquee scrollamount="25"><h1><span style="font-family: 'Audiowide', cursive;">|-|3|_|_0   &nbsp &nbsp &nbsp  {{ user }}</span></h1></marquee>
<marquee scrollamount="25" direction="right"><h1><span style="font-family: 'Audiowide', cursive;">Your link is "{{ link }}"</span></h1></marquee>

<br>
<br>
<br>
<br>
<br>
<br>

<div class="row">
<div class="col-lg-5 col-md-3 col-sm-2 col-xs-0 "></div>
<div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 ">
  <form action="/logout" method="post">
  <button type="submit" name="submit" style="font-size: 40px" class="btn btn-primary">Logout</button>
  </form>
</div>
<div class="col-lg-4 col-md-3 col-sm-2 col-xs-0 ">

</div>

</div>
<div class="row">
<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 "></div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
{{ error }}
</div>
</div>
<div class="row">

<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 ">
</div>
<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 ">

</div>





</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <script src="/js/bootstrap.min.js"></script>
</body>
</html>
